body {
    background: #1aa86d10;
}

.edit-box {
    background: white;
    padding: 30px;
    max-width: 700px;
    margin: 40px auto;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #1aa86d;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #1aa86d;
}

.btn-success {
    background-color: #1aa86d;
    border-color: #1aa86d;
    color: #fff;
}

.btn-success:hover {
    background-color: #138454;
    border-color: #138454;
}

.btn-secondary {
    background-color: #1aa86d;
    border-color: #1aa86d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #138454;
    border-color: #138454;
}