body { background:#f4f6f9; }

.profile-box {
    background:white;
    padding:30px;
    max-width:700px;
    margin:40px auto;
    border-radius:16px;
    box-shadow:0 0 12px rgba(0,0,0,0.1);
}

.profile-img {
    width:140px;
    height:140px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #1aa86d;
}

/* Button */
.btn-edit {
    background-color: #1aa86d;
    border-color: #1aa86d;
    color: #fff;
}
.btn-edit:hover {
    background-color: #16945e;
    border-color: #16945e;
    color: #fff;
}