body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.success-box {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    width: 450px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.success-icon {
    font-size: 70px;
    color: #1aa86d;
    margin-bottom: 20px;
}

.btn-main {
    background-color: #1aa86d !important;
    border-color: #1aa86d !important;
    color: #fff !important;
    padding: 12px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.25s ease;
}

.btn-main:hover {
    background-color: #179860 !important;
    border-color: #179860 !important;
    transform: translateY(-2px);
}
