body { 
    background: #f2f2f2; 
}

.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    background: #1aa86d;
    color: #fff;
    padding-top: 25px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 8px;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.2);
}

.content {
    margin-left: 250px;
    padding: 25px;
}

.card-box {
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
}
